#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
}

.output__control {
    margin-top: 15px;
}

.button {
    display: inline-flex;
    align-items: center;
    border: 0;
    padding: 0;
    background: 0;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
}

.button > svg {
    margin-right: 5px;
}
