.option:not(.loaded) {
    opacity: 0;
    position: absolute;
}

.option button {
    border: 0;
    padding: 0;
    background: 0;
    outline: 0;
    cursor: pointer;
}

.option button:focus svg * {
    stroke: #fff;
}

.option button:focus:not(:focus-visible) svg * {
    stroke: #000;
}

.option__preview {
    position: relative;
    margin-bottom: 1rem;
}

.option.loaded > .option__preview > video {
    display: block;
    max-width: 80vw;
    max-height: calc(100vh - 9.2rem - 150px);
}

.option__input {
    max-width: 250px;
    margin: 0 auto 0.8rem auto;
}

.option__input > .title {
    text-align: left;
    font-size: 0.55rem;
    padding: 0 5px;
    margin-bottom: 0.15rem;
    line-height: 0.7rem;
}

.option__input > div {
    display: flex;
}

.option__input > div > input {
    width: 100%;
    background: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 2.5px 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.15);
    transition: background 0.25s;
}

.option__input button {
    padding: 0;
    margin-left: 10px;
}

.option__input svg {
    width: 1rem;
    height: 1rem;
}

.option__input > input:focus {
    background: rgba(255, 255, 255, 0.4);
}

.option__convert {
    display: block;
    margin: 0 auto;
}
