.progress {
    position: relative;
}

.progress > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

.progress svg {
    transform: rotate(-90deg);
    transform-origin: center;
}

.progress circle {
    transition: stroke-dashoffset 0.25s ease-in-out;
}
